<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Admin page</title>
</head>
<body>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<div th:each="prod: ${prods}">
    <form th:action="@{/admin/checkClickedButton/{prod} (prod = ${prod})}" method="get">
        <input type="submit" th:value="${prod}">
    </form>
</div>

<div th:each="product: ${list}" style="border: 2px dashed; padding: 10px;">
    <h3 th:text="${product.getType()}"></h3>
    <br>
    <span th:text="${product.getTitle()}"></span>
    <br>
    <img th:src="@{'/images/'+${product.getImageUrl()}}" height="400px">
    <br>
    <span th:text="${product.getDescription()}"></span>
    <br>
    Количество:
    <span th:text="${product.getNumber()}"></span>
    Цена:
    <span th:text="${product.getPrice()}"></span>
    <form th:method="get" th:action="@{/admin/changeProduct/{id} (id = ${product.getId()})}">
        <button type="submit">Редактировать товар</button>
    </form>
    <form th:method="post" th:action="@{/admin/deleteProduct/{id} (id = ${product.getId()})}">
        <button type="submit">Удалить</button>
    </form>
</div>

<h2>Добавить новую позицию товара</h2>
<div>
    <form enctype="multipart/form-data" th:action="@{/admin/addNewPosition}" method="post">
        <div>
            <label>Тип товара</label>
            <select name="type">
                <option th:each="prodd: ${prodss}" th:value = "${prodd}" th:text="${prodd}"></option>
            </select>
        </div>
        <div>
            <label>Название товара</label>
            <input type="text" name="title" th:value="${currentTitle}">
            <span style="color: red" th:text="${title}"></span>
        </div>
        <div>
            <label>Описание товара</label>
            <input type="text" name="description" th:value="${currentDescription}">
            <span style="color: red" th:text="${description}"></span>
        </div>
        <div>
            <label>Количество товара</label>
            <input type="number" name="number" min="0" th:value="${currentNumber}">
            <span style="color: red" th:text="${number}"></span>
        </div>
        <div>
            <label>Цена</label>
            <input type="number" name="price" th:value="${currentPrice}">
            <span style="color: red" th:text="${price}"></span>
        </div>
        <div>
            <label>Изображение товара</label>
            <input type="file" name="image">
            <span style="color: red" th:text="${fileErr}"></span>
        </div>
        <span style="color: red" th:text="${exists}"></span>
        <input type="submit" value="Добавить">
    </form>
</div>

<div>
    <a th:href="@{/admin/userList}">
        <h2>Посмотреть список юзеров</h2>
    </a>
</div>

</body>
</html>