<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> ID </th>
        <th> Login </th>
        <th> E-mail </th>
        <th> First name </th>
        <th> Surname </th>
        <th> Phone </th>
        <th> Active </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <form method="post" th:action="@{/admin/changeUserActivity/{id} (id = ${user.getId()})}">
            <td><span th:text="${user.id}"> ID </span></td>
            <td><span th:text="${user.name}"> Login </span></td>
            <td><span th:text="${user.email}"> E-mail </span></td>
            <td><span th:text="${user.realName}"> First name </span></td>
            <td><span th:text="${user.surname}"> Surname </span></td>
            <td><span th:text="${user.phone}"> Phone </span></td>
            <td><span th:text="${user.active} ? 'Активный' : 'Забаненный'"> Active </span></td>
            <td><input type="submit" th:value="${user.active}? 'Забанить' : 'Разбанить'"></td>
        </form>
    </tr>
    </tbody>
</table>
</body>
</html>